pandas==2.3.1
pyarrow==21.0.0
dask[complete]==2024.8.0; python_version < "3.10"
dask[complete]==2025.7.0; python_version >= "3.10"
numpy==1.26.4
fsspec==2025.7.0
toolz==1.0.0
cloudpickle==3.1.1
python-snappy==0.7.3
partd==1.4.2
